{% extends 'base.html' %}

{% block head %}
<center><title>Main Page</title></center>
{% endblock %}

{% block body %}

<h2>Select a Form</h2>
<ul>
    <li><a href="/stage1">Stage 1: Foundation</a></li>
    <li><a href="/stage2">Stage 2: Dry In</a></li>
    <li><a href="/stage3">Stage 3: Framing</a></li>
    <li><a href="/stage4">Stage 4: Plumbing</a></li>
    <li><a href="/stage5">Stage 5: Electrical</a></li>
    <li><a href="/stage6">Stage 6: Insulation</a></li>
    <li><a href="/stage7">Stage 7: Final Inspection</a></li>
</ul>

{% endblock %}
